body {
    background : url('../img/blue-grid-background.jpg');
    overflow   : hidden;
    font-family: 'Roboto', sans-serif;
}

main {
    display           : flex;
    // display        : none;
    flex-direction    : row;
    justify-content   : space-around;
    align-items       : center;
    max-width         : 1200px;
    height            : 80vh;
    margin            : 0 auto;
}

nav {
    .flex(column);
    justify-content: center;
    align-items    : center;
    position       : absolute;
    top            : 20%;
    left           : 20%;
    width          : 60%;
    height         : 60%;
    background     : rgb(44, 44, 44);
    color          : white;
    opacity        : 0.96;
    z-index        : 100;

    label {
        .flex(row);
        margin-bottom: 20px;

        input {
            margin: 0 10px;
        }
    }
}