@import "variables.less";
// @import "../blocks/block-cell/block-cell.less";
@import "../blocks/base/base.less";
@import "../blocks/layout/layout.less";
@import "../blocks/modules/modules.less";

// @import "../blocks/block-bs/block-bs.less";
@import "../blocks/block-hint/block-hint.less";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.flex(@line)
{
	display: flex;
	flex-direction: @line;
}

.start
{
	width: 100%;
	height: 50px;
}
 