/*Block -hint-*/
/*End Block -hint-*/
body {
  overflow: hidden;
}
button {
  cursor: pointer;
}
main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  background: #2c2c2c;
  color: white;
  opacity: 0.96;
  z-index: 100;
}
nav label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}
nav label input {
  margin: 0 10px;
}
.field-cells {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}
.field-cells > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.field-cells div > div {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
.cell {
  cursor: pointer;
}
.cell--active {
  background: #FF8989;
  background: url('../img/ship.png') no-repeat;
  color: black;
  border: 1px solid white;
}
.miss {
  background: url('../img/saveRound.svg') no-repeat;
}
.btn {
  position: relative;
  display: inline-block;
  height: 40px;
  background: white;
  border: none;
  font-size: 20px;
  font-weight: lighter;
  color: #000;
  cursor: pointer;
  -webkit-transition: background 0.2s, border 0.2s;
  -o-transition: background 0.2s, border 0.2s;
  -moz-transition: background 0.2s, border 0.2s;
  transition: background 0.2s, border 0.2s;
}
.btn--ready {
  background: #FFD43B;
  color: #000;
}
.bs {
  height: 100vh;
  background: #0071BC;
  overflow: hidden;
}
.hint {
  position: relative;
  width: 50%;
  min-height: 400px;
  padding: 10px;
  margin: 0 auto;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  -webkit-transform: translateY(400px);
     -moz-transform: translateY(400px);
      -ms-transform: translateY(400px);
       -o-transform: translateY(400px);
          transform: translateY(400px);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: -o-transform 1s;
  -moz-transition: transform 1s, -moz-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s, -moz-transform 1s, -o-transform 1s;
  color: #fff;
  z-index: 100;
}
.hint--active {
  -webkit-transform: translateY(-400px);
     -moz-transform: translateY(-400px);
      -ms-transform: translateY(-400px);
       -o-transform: translateY(-400px);
          transform: translateY(-400px);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: -o-transform 1s;
  -moz-transition: transform 1s, -moz-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s, -moz-transform 1s, -o-transform 1s;
}
.hint__title {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}
.hint__description {
  text-align: center;
  font-size: 17px;
}
.hint__accept {
  width: 100%;
  margin-top: 30px;
}
.hint__table-img {
  position: relative;
  height: 370px;
  padding: 60px 126px;
  background: url('../img/without_top.png') no-repeat center / 86%;
}
.hint__crab {
  display: block;
  width: 70%;
  margin: 0 auto;
  /*height: 460px;*/
  /*background: url('../img/crab.png') no-repeat center/80% ;*/
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.start {
  width: 100%;
  height: 50px;
}
