.field-cells
{
	position: relative;
	border-radius: 14px;
	padding-right: 18px;
	padding-bottom: 18px;
	/*padding: 20px;*/
}

	
	.field-cells:first-of-type
	{
		margin-right: 65px;


	}
	.field-cells__row
	{
		position: relative;
		z-index: 100;
		.flex(row);
		/*margin: 0 20px;*/
	}



	.field-cells__item
	{
		width: 45px;
		height: 45px;
		border: 1px solid white;
		margin: 0;
		font-size: 20px;
		color: white;
		line-height: 47px;
		text-align: center;
		transition: background 0.3s;
		cursor: pointer;
	}
		
		.field-cells__row:first-of-type
		{
			.field-cells__item /*Numbers*/
			{
				border-right: none;
				border-left: none;
				border-top: none;
			}
		}


		

		.field-cells:first-of-type
		{
			.field-cells__item:first-of-type /*Letters*/
			{
				border-top: none;
				border-bottom: none;
				border-left: none;
			}
		}

		.field-cells:last-of-type
		{
			.field-cells__row
			{
				padding-left: 18px;
			}
			
			padding-right: 0;
			.field-cells__item:last-of-type /*Letters*/
			{
				border-top: none;
				border-bottom: none;
				border-right: none;
			}
		}


	.field-cells__background
	{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background: #4E4E4E;
		border-radius: 14px;

		opacity: 0.5;
		z-index: 90;

	}

	.field-cells__item--active
	{
		background: #FF8989;
		background: url('../img/ship.png') no-repeat;
		color: black;
		border: 1px solid white;
	}
	.field-cells__item--shot
	{
		/*background: yellow;*/
		background: url('../img/saveRound.svg') no-repeat;

	}

	.field-main-game
	{
		position: relative;
		.flex(row);
		justify-content: center;
		z-index: 100;
		padding-top: 75px;
	}	



.field-cells__btn
{
	width: calc(100% - 44px);
	float: right;
}

