.btn
{
	position: relative;
	display: inline-block;
	height: 40px;
	background: white;
	border: none;
	font-size: 20px;
	font-weight: lighter;
	color: #000;
	cursor: pointer;
	
	transition: background 0.2s, border 0.2s;
	// z-index: 100;
}



.btn--ready
{
	background: #FFD43B;
	color: #000;
}
