.hint
{
	display: none;
	position: relative;
	width: 50%;
	min-height: 400px;
	padding: 10px;
	margin: 0 auto;
	border-radius: 15px;
	transform: translateY(400px);
	transition: transform @durationShowHide;
	color: #fff;
	z-index: 100;
}

.hint--active
{
	transform: translateY(-400px);
	
	transition: transform @durationShowHide;
}
	.hint__title
	{
		margin-bottom: 20px;
		font-size: 30px;
		text-align: center;
	}
	.hint__description
	{
		text-align: center;
		font-size: 17px;
	}
	.hint__accept
	{
		width: 100%;
		margin-top: 30px;
	}

.hint__table-img
{
	position: relative;
	height: 370px;
	padding: 60px 126px;
	background: url('../img/without_top.png') no-repeat center/86%;
}
.hint__crab
{
	display: block;
	width: 70%;
	margin: 0 auto;
	/*height: 460px;*/
	/*background: url('../img/crab.png') no-repeat center/80% ;*/

}