.field-cells {
    // .flex(column);
    color    : white;
    max-width: 448px;
}

.cells {
    // .flex(row);
    border-radius: 7px;
    background   : #E4C05C;
    padding      : 8px 8px 0 8px;

    div {
        .flex(row);
    }

    div>div {
        display   : block;
        width     : 40px;
        height    : 40px;
        background: #4F949B;

        text-align   : center;
        line-height  : 40px;
        border-bottom: 1px solid white;

        &:not(:last-of-type) {
            border-right: 1px solid white;

        }
    }
}

.cell {
    cursor: pointer;

    &.hit {
        background: #FF8989;
        background: url('../img/clear.svg') #4f949b center center / 86% no-repeat;
        color     : black;
    }

    &.ship {
        background: url('../img/ship.svg') #4f949b center center / 86% no-repeat;
    }

    &.miss {
        background: url('../img/saveRound.svg') #4f949b center center / 86% no-repeat;
    }
}



.btn_ready {
    border: none;
    height: 35px;

    &.active {
        background: rgb(240, 221, 54);
    }
}

.step_arrow {
    display   : block;
    width     : 50px;
    transition: transform 0.2s;

    &.reverse {
        transform : rotate(180deg);
        transition: transform 0.2s;
    }
}

// .capitan_name {
//     margin    : 0 auto;
//     padding   : 15px;
//     background: transparent;
// }

.btn_start {
    display   : none;
    margin    : 0 auto;
    width     : 300px;
    height    : 175px;
    background: url('../img/start.svg') center center / 100% no-repeat;
}

.line {
    position  : relative;
    left      : -8px;
    width     : calc(100% + 16px);
    height    : 50px;
    background: #CEA739;

    &::before {
        content: '';
    }

    &::after {
        content: '';
    }
}

.ships {
    list-style-type: none;
    padding        : 6px;

    li {
        // display: inline-block;
        display    : inline-flex;
        align-items: center;
        margin     : 5px 5px;
        padding    : 10px 13px;



        &:nth-child(odd) {
            background   : #5E8993;
            border-radius: 7px;
        }

        &:nth-child(even) {
            background   : #BF5858;
            border-radius: 7px;
        }

        h3 {
            font-weight: 400;

            &::before {
                content: '-';
                padding: 0 10px 0 10px;
            }
        }

        img {
            display: inline-block;
            height : 25px;
        }
    }
}

.rank {
    position: relative;
    .flex(row);
    min-width    : 190px;
    max-width    : 50%;
    margin-bottom: 7px;
    background   : #E4C05C;
    border-radius: 7px;

    &::before {
        content      : '';
        position     : absolute;
        bottom       : 5px;
        left         : 37%;
        display      : block;
        width        : 40%;
        height       : 4px;
        background   : #BF5858;
        border-radius: 7px;
    }

    &::after {
        content      : '';
        position     : absolute;
        bottom       : 5px;
        right        : 10px;
        display      : block;
        width        : 13%;
        height       : 4px;
        background   : #BF5858;
        border-radius: 7px;
    }

    &__icon {
        width                    : 33%;
        height                   : 70px;
        background               : url('../img/rank.svg') #C59E30 center center / 86% no-repeat;
        border-top-left-radius   : 7px;
        border-bottom-left-radius: 7px;
    }



    &__name {
        position: relative;
        .flex(column);
        justify-content: center;
        padding-left   : 23px;
        font-size      : 18px;
        font-weight    : 700;
        color          : #A08026;

        &::before {
            content    : 'Капитан';
            position   : absolute;
            top        : 7px;
            left       : 8px;
            font-size  : 11px;
            font-weight: 300;
        }
    }
}